.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 35vh;
    margin-bottom: 150px;
}
.new-collection h1{
    color: #171717;
    font-size: 50px;
    font-weight: 800;
}
.new-collection hr{
    width: 200px;
    height: 6px;
    border-radius: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 50px;
    gap:10px;

}